<form [formGroup]="myform" (ngSubmit)="savetypeclass()">
  <h1 mat-dialog-title>Thêm mới</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tên khóa học</mat-label>
      <input formControlName="tenKhoaHoc" matInput required />
      <mat-error
        *ngIf="formControls.tenKhoaHoc.errors?.['required']"
      >
     Tên khóa học là bắt buộc!
      </mat-error>
    </mat-form-field>

   <mat-form-field>
      <mat-label>Chọn ngày bắt đầu</mat-label>
      <input matInput formControlName="ngayBatDau" [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
 <mat-form-field>
      <mat-label>Chọn ngày kết thúc</mat-label>
      <input matInput formControlName="ngayKetThuc" [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Lưu</button>
    <button (click)="closePopup()"  mat-stroked-button  color="warn">Đóng</button>
  </div>
</form>
