<p>hoso</p>


<div *ngIf="hocVien">
  <h2>Thông tin học viên</h2>
  <table mat-table [dataSource]="[hocVien]" class="mat-elevation-z8">
    <!-- Cột Tên đăng nhập -->
    <ng-container matColumnDef="tenDangNhap">
      <th mat-header-cell *matHeaderCellDef>Tên đăng nhập</th>
      <td mat-cell *matCellDef="let element">{{ element.taiKhoan?.tenDangNhap }}</td>
    </ng-container>

    <!-- Cột Họ và tên -->
    <ng-container matColumnDef="hoTen">
      <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
      <td mat-cell *matCellDef="let element">{{ element.taiKhoan?.hoTen }}</td>
    </ng-container>

    <!-- Các cột thông tin khác -->
    <!-- Tương tự như trên cho từng cột thông tin -->

    <!-- Định nghĩa cột ngày sinh -->
    <ng-container matColumnDef="ngaySinh">
      <th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
      <td mat-cell *matCellDef="let element">{{ element.taiKhoan?.ngaySinh }}</td>
    </ng-container>

    <!-- Các cột thông tin khác -->

    <!-- Định nghĩa cột Trường học -->
    <ng-container matColumnDef="truongHoc">
      <th mat-header-cell *matHeaderCellDef>Trường học</th>
      <td mat-cell *matCellDef="let element">{{ element.truongHoc }}</td>
    </ng-container>

    <!-- Tương tự cho các cột thông tin khác -->

    <!-- Các hàng dữ liệu -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

