

<mat-list *ngIf= "roles ==='QuanTriVien' || roles ==='NhanVien'" >
  <div style="height: 65px; border-bottom: 2px solid #ffffff; text-align: center;">
    <img src="https://api.logo.com/api/v2/images?logo=logo_517f290c-2655-4b5c-b818-a48cbf6c95be&format=webp&margins=0&quality=60&width=500&background=transparent&u=1691841197" alt="" width="100px" >
  </div>
  <mat-list-item>
    <a routerLink="/quan-tri-vien/trang-chu" routerLinkActive="active-link">
      <mat-icon>home</mat-icon> <span>Trang chủ</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a (click)="toggleMenu()" routerLinkActive="active-link">
      <mat-icon>category </mat-icon> <span> Danh mục</span>
      <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="showMenu">expand_more</mat-icon>
    </a>
  </mat-list-item>
  <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
    <a mat-list-item routerLink="/quan-tri-vien/danh-sach-giao-vien" routerLinkActive="active-link">
      <span>Giáo viên</span>
    </a>
     <a mat-list-item routerLink="/quan-tri-vien/danh-sach-nhan-vien" routerLinkActive="active-link">
      <span>Nhân viên</span>
    </a>
    <a mat-list-item routerLink="/quan-tri-vien/danh-sach-hoc-vien" routerLinkActive="active-link">
      <span>Học viên</span>
    </a>
  </mat-nav-list>
  <mat-list-item>
    <a routerLink="/quan-tri-vien/khoahoc" routerLinkActive="active-link">
      <mat-icon>local_library</mat-icon> <span>Phân công chức vụ</span>
    </a>
  </mat-list-item>

</mat-list>



<mat-list *ngIf= "roles ==='HocVien'">
  <div style="height: 65px; border-bottom: 2px solid #ffffff; text-align: center;">
    <img src="https://api.logo.com/api/v2/images?logo=logo_517f290c-2655-4b5c-b818-a48cbf6c95be&format=webp&margins=0&quality=60&width=500&background=transparent&u=1691841197" alt="" width="100px" >
  </div>
  <mat-list-item>
    <a routerLink="/hoc-vien/trang-chu" routerLinkActive="active-link">
      <mat-icon>home</mat-icon> <span>Trang chủ</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a (click)="toggleMenu()" routerLinkActive="active-link">
      <mat-icon>category</mat-icon> <span>Danh mục</span>
      <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="showMenu">expand_more</mat-icon>
    </a>
  </mat-list-item>
  <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
    <a mat-list-item routerLink="/giaovien" routerLinkActive="active-link">
      <span>GIÁO VIÊN</span>
    </a>
    <a mat-list-item routerLink="/hocvien" routerLinkActive="active-link">
      <span>HỌC VIÊN</span>
    </a>
  </mat-nav-list>
  <mat-list-item>
    <a routerLink="/hoc-vien/ho-so" routerLinkActive="active-link">
      <mat-icon>info</mat-icon> <span>Hồ sơ</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/hoc-vien/khoa-hoc" routerLinkActive="active-link">
      <mat-icon>local_library</mat-icon> <span>Xem khóa học</span>
    </a>
  </mat-list-item>

</mat-list>



<mat-list *ngIf= "roles ==='GiaoVien'">
  <div style="height: 65px; border-bottom: 2px solid #ffffff; text-align: center;">
    <img src="https://api.logo.com/api/v2/images?logo=logo_517f290c-2655-4b5c-b818-a48cbf6c95be&format=webp&margins=0&quality=60&width=500&background=transparent&u=1691841197" alt="" width="100px" >
  </div>
  <mat-list-item>
    <a routerLink="/giao-vien/trang-chu" routerLinkActive="active-link">
      <mat-icon>home</mat-icon> <span>Trang chủ</span>
    </a>
  </mat-list-item>
   <mat-list-item>
    <a routerLink="/phonghoc" routerLinkActive="active-link">
      <mat-icon>person</mat-icon> <span>QUẢN LÝ HỒ SƠ</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a (click)="toggleMenu()" routerLinkActive="active-link">
      <mat-icon>person</mat-icon> <span>QUẢN LÝ TÀI KHOẢN</span>
      <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="showMenu">expand_more</mat-icon>
    </a>
  </mat-list-item>
  <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
    <a mat-list-item routerLink="/giaovien" routerLinkActive="active-link">
      <span>GIÁO VIÊN</span>
    </a>
    <a mat-list-item routerLink="/hocvien" routerLinkActive="active-link">
      <span>HỌC VIÊN</span>
    </a>
  </mat-nav-list>
  <mat-list-item>
    <a routerLink="/khoahoc" routerLinkActive="active-link">
      <mat-icon>local_library</mat-icon> <span>XEM KHÓA HỌC</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/lophoc" routerLinkActive="active-link">
      <mat-icon>layers</mat-icon> <span>QUẢN LÝ LỚP HỌC</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a routerLink="/quanlydiem" routerLinkActive="active-link">
      <mat-icon>star</mat-icon> <span>NHẬP ĐIỂM</span>
    </a>
  </mat-list-item>
</mat-list>
